
.hero-image {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.hero{
    height: 100vh;
    padding: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.author{   
    color: #78744e;
    font-family: 'Source Sans Pro', san-serif;
    font-size: 50px;

}
.menu{
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-family: 'Source Sans Pro', san-serif;
    border-radius: 5px;
    padding: 15px;  

}

.header-link{
    text-decoration: none;
    color:black;
    font-family: 'Source Sans Pro', san-serif;  
    font-size: 18px; 
}
.header-link:hover {
    color: black;
    font-weight: bold;
}

.tag-line{
    font-size: 32px;
    width: 60%;
    color: grey;
    font-size: 40px;
    line-height: 2em;

}
.hi{
    color: black;
}

.about-me{
    font-family: 'Lora', serif;
    font-size: 36px;
    margin-left: 50px;


}
.paragraphs{
    display:flex;
    font-family: 'Source Sans Pro', san-serif;
    font-size: 21px;
    color: #a1a1a1;
    margin: 10px;
    line-height: 50px;
    justify-content: space-between;
}

.para1{
    margin: 21px; 
    
}

.para2{
    margin: 21px;
}

.work{
    display: flex;
    background-color: lightgrey;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.frontend{
    display:flex;
    width:40%;
    flex-direction: column;
    align-items: center;
}
.lx{
    display:flex;
    width:40%;
    flex-direction: column;
    align-items: center;
}
.contact{
    display: flex;
    justify-content: space-around;
    margin: 0 80px;
    line-height: 50px;
    text-align: center;

}

.contact-image{
    margin-top: 42px;
}

.like-it{
    font-family: 'Lora', serif;
    color: #c49075;
   font-size: 50px;
  
}

.envelope{
    font-family:'Source Sans Pro', san-serif;
    color: #c49075;
}

.email-header{
    color: gray;
    font-size: 32px;
    font-family:'Source Sans Pro', san-serif;
   text-align: center;
  
}
.email{
    font-family:'Lora', serif;
    font-size: 32px;
    color: black;
    text-align: center;
   
}
.email:hover{
    color: gray;
}

.socialmedia{
    display: flex;
    text-align: center;
    justify-content: center ;
}