* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', san-serif;
}

.hero {
  height: 100vh;
  background-image: url('./images/hero.png');
  padding: 15px;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border-radius: 5px;
  padding: 15px;
}

.author {
  color: #bbc085;
  font-family: 'Source Sans Pro', san-serif;
  font-size: 50px;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 18px; 
}

.header-link:hover {
  font-weight: bold;
}

.hero-text {
  font-size: 40px;
  color: grey;
  width: 60%;
  line-height: 2em;
}

.black-text {
  color: black;
}

.about-me{
  font-family: 'Lora', serif;
  font-size: 36px;
  margin-left: 50px;
}

.paragraphs{
  display:flex;
  font-size: 21px;
  color: #a1a1a1;
  margin: 10px;
  line-height: 50px;
  justify-content: space-between;
}

.para1{
  margin: 21px; 
}

.para2{
  margin: 21px;
}